@model SEAdd.Models.ViewModels.UserDashboardVM
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card">
                                        <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                            <div class="col-md-9 col-sm-9">
                                                <h3 class="fs-25 font-w700 mb-4 text-nowrap">Application Status</h3>
                                                <hr class="col-md-4" />
                                                <div class="d-flex align-items-center">
                                                   @if (Model.applicationStatus == "Approved")
                                                   {
                                                       <h6 class="fs-20 font-w600 mb-4 text-success">@Model.applicationStatus</h6>
                                                   }
                                                   else
                                                   {
                                                       <h6 class="fs-20 font-w600 mb-4 text-primary">@Model.applicationStatus</h6>
                                                   }
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <img src="~/assets/images/applicationStatus.png" width="80" height="80">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card">
                                        <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                            <div class="col-md-9 col-sm-9">
                                                <h3 class="fs-25 font-w700 mb-4 text-nowrap">Nomination</h3>
                                                <hr class="col-md-4" />
                                                <div class="d-flex align-items-center">
                                                    <h6 class="fs-20 font-w600 mb-4">Required</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <img src="~/assets/images/nomination.png" width="80" height="80">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-4">
                                    <div class="card">
                                        <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                            <div class="col-md-9 col-sm-9">
                                                <h3 class="fs-25 font-w700 mb-4 text-nowrap">Admission Last Date</h3>
                                                <hr class="col-md-4" />
                                                <div class="d-flex align-items-center">
                                                    <h6 class="fs-20 font-w600 mb-4">@Model.admissionLastDate.Date.ToString("dd - MMM , yyy")</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <img src="~/assets/images/calander.png" width="80" height="80">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @Html.Partial("_AllNotifications" , Model.Notifications)
    </div>
</div>


@section Scripts{
    <script>
        $('#example5').DataTable(
           {
               searching: true,
               paging: true,
               select: true,
               info: true,
               lengthChange: true,
               language: {
                   paginate: {
                       next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                       previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                   }
               }
           });
    </script>
    }













