
@{
    ViewBag.Title = "EligibilityCriteria";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-custom.css" rel="stylesheet" />
}

<div class="container p-2">
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">ELIGIBILITY / INELIGIBILTY CRITERIA</h2>
    <ul class="h5 px-4 custom-list">
        <li>Each candidate shall make an application for admission on a prescribed form or through online system in response to an advertisement.</li>
        <li>Application and admission processing fee shall be paid before the closing date.</li>
        <li>he candidates are required to submit application along with documents as per the university policy announced in the admission advertisement. 
        The university will state procedure to apply and documents which are required on the official website or any other available media for the candidates.</li>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Eligibility Criteria for Various Degree Programmes</h2>
    <h3 class="h3">Eligibility for Bachelor (4/5 years) Programmes</h3>
    <ul class="h5 px-4 custom-list">
        <p class="h5 custom-list">Eligibility for admission to Bachelor’s programme shall be FA/FSC, or an equivalent certificate/diploma from any recognized institution, with at least ‘a second division’ or ‘its
         equivalent grade based on minimum 50% marks for other than annual system’. However, in case of Accreditation Council based degree programme such as Computing, Engineering, Pharm-D or any other programme where the criteria of the relevant council will be followed if different from the Azad Jammu &Aacute; Kashmir University criteria. Currently, the university is offering the following programmes and the council criteria for them:</p>
        <li>Pharm-D (5 years programme) - Candidate with minimum 60% marks in the FSc or equivalent exam with pre-medical science group is eligible for admission to the Pharm-D programme.</li>
        <li>The criteria for the BS computing related programmes (BS Computer Sciences, BS Cyber Security, BS Software Engineering, BS Information Technology, BS Artificial Intelligence, BS Data Sciences) is minimum 50% marks in the FSc or equivalent with pre-engineering group. Deficiencies courses will be offered for students with FSc pre-medical group are seeking admission to the any bachelor programme related to computing. All such students must pass deficiency courses of Mathematics of 6 CrHr within one year of their regular studies. The deficiency courses should cover most of the relevant topics to bachelor’s degree in computing education from intermediate level mathematics.</li>
        <li>Similar any other programme launched in future where the accreditation council exists – the eligibility criteria of the council will be followed. </li>
    </ul>
    <h3 class="h3">Evaluation of the candidates and Preparing Merit </h3>
    <ul class="h5 px-4 custom-list">
        <h4 class="h5">
           <strong>FOR BACHELOR/BS (4 YEAR) AND PHARM-D PROGRAMMES</strong> 
        </h4>
        <li>A-10% weight allocated to the marks in SSC/Equivalent.</li>
        <li>B-50% weight allocated to the percent marks in the HSSC/Equivalent or 1st year marks in case the result of FSc is not declared.</li>
        <li>C-40% weight allocated to the percent marks in NAT/Entrance Test (ETEA)/ETC.(HEC)/ other Provinces Testing Agencies with valid passing marks or University own test for the admission purpose. </li>
        <h4 class="h5 text-center">
            <strong>A + B + C</strong>
        </h4>
    </ul>
    <hr />
    <h3 class="h3">Eligibility Criteria for MS/MPhil Admission and Merit </h3>
    <ul class="h5 px-4 custom-list">
        <p class="h5 custom-list">
            The admissions into MS/MPhil or Equivalent programmes shall be based on merit established through the performance of the candidates in his or her previous academics and admission test/GAT. 
            The merit for admission to an MPhil/MS degree programme offered by the university shall be established as per following criteria:
        </p>
        <li>16 years of relevant education in the discipline for which the candidate seeks admission. CGPA (2.00/4.0 or 2.50/5.0) in semester system Or 2nd division in MA/MSc or equivalent in the relevant subject in annual system. Candidates having some other qualification will be required to produce equivalency and relevancy certificates from HEC, Islamabad.</li>
        <li>Must have obtained 60% marks in the UGAT or valid GAT-General/GRE with 50% marks.</li>
        <li>No objection certificate (NOC) for in-service candidate shall be mandatory for admission into MS/MPhil programme from the respective employer. </li>
        <li>Good moral character. All those candidates, who were punished by any Degree Awarding Institute (DAI) for acts of indiscipline and other undesirable activities and were awarded
         major penalties, shall not be admitted to MPhil or equivalent programme in the university under any circumstances.</li>
    </ul>
    <h3 class="h3">Evaluation of the candidates and Preparing Merit </h3>
    <ul class="h5 px-4 custom-list">
        <h4 class="h5">
            <strong>FOR BACHELOR/BS (4 YEAR) AND PHARM-D PROGRAMMES</strong>
        </h4>
        <li>A-20% F.Sc/FA/A-Level or equivalent,</li>
        <li>B-60% [50 BS/Pharm D or equivalent four/five years programmes (in case of conventional system - 25 MA/MSc 2 years or equivalent and 25 BA/BSc 2 years or equivalent)],</li>
        <li>C-20% - Interview. </li>
    </ul>
    <hr />
    <h3 class="h3">Eligibility Criteria for PhD Programme  </h3>
    <ul class="h5 px-4 custom-list">
        <p class="h5 custom-list">
            Admission to a PhD programme in any discipline shall be based on the availability of resources and willingness/commitment of a supervisor for the entire duration
             of the PhD studies of the candidate subject to the eligibility criteria of the university.
        </p>
        <li>MS/MPhil Degree or equivalent in the relevant field with a minimum of CGPA 3.00/4.00 (equivalent) under semester system of at least 30 credit Hours or 1st division under annual system.</li>
        <li>Test equivalents to GAT/GRE subject in the area of specialization chosen at the PhD level or UGAT (University Graduate Assessment Test), to be conducted by the university, 60% score will be required in GRE/GAT conducted by University 
        through ETS/NTS/Other recognized Agency, for PhD admission. Or 70% score will be required to get admission in PhD programme in UGAT (as per HEC requirements).</li>
        <li>Good moral character. All those candidates, who were punished by any DAI for acts of indiscipline and other undesirable activities and were awarded major penalties, shall not be admitted to PhD programme in the university under any circumstances. </li>
    </ul>
    <h3 class="h3">Evaluation of the candidates and Preparing Merit </h3>
    <ul class="h5 px-4 custom-list">
        <p class="h5 custom-list">
            After the fulfilling the eligibility criteria, the selection of candidates for the admission to the PhD programme shall be made on the basis of aggregate marks using the
             following parameters (previous academic record and Interview).
        </p>
        <li>A-F.Sc/Equivalent – 10%,</li>
        <li>B-BS (4 years degree) - 30% or BSc (2 years) x 15%, MSc (2 years) x 15% ,</li>
        <li>C-MS/MPhil – 30%. </li>
        <li>D-Publication Record – 20% (5 Marks/Paper, to Be checked by Admission Committee)</li>
        <li>E-Interview – 10%</li>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">INELIGIBILITY</h2>
    <ul class="h5 px-4 custom-list">
        <p class="h5 custom-list">
            <strong>The following shall not be eligible for admission to undergraduate and graduate programmes:</strong>
        </p>
        <li>Those who have ceased to be students of this University.</li>
        <li>Those who already possess a Bachelor or MA/MSc degree or an equivalent degree from this or any other University. The admission to professional degree i.e., MEd and Bed is an exception. This exemption is extended for other professional degrees also..</li>
        <li>Those who are already on the rolls of this University.</li>
        <li>Those who have been expelled from any other University/institute/college.</li>
        <li>Those who could not qualify a degree programme on basis of acquiring minimum credit hours i.e., 124 (for level 6), 60 (for MA/MSc), 30 (for level 7) in this or another University.</li>
        <li>Those who could not qualify a degree programme on basis of achieving the minimum CGPA required for passing the degree programme i.e., CGPA 2 (for level 6), and CGPA 2.5 (for level 7 & 8) in this or another University.</li>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Admission of Foreign Students</h2>
    <ul class="h5 px-4 custom-list">
        <p class="h5 custom-list">
            In addition to admission of foreign students mentioned before, foreign students under student exchange programme (as the case may be) will be enrolled for any semester or for any single course and the University admission offer letter of the foreign student will be forwarded to HEC for issuance of NOC.
        </p>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Academic Advisor</h2>
    <ul class="custom-list px-4">
        <p class="h5 custom-list">
             The Academic department will assign an advisor to each student after the confirmation of the admission and before the start of classes. In normal situation, the advisor will
         not be changed until the graduation of the student. However, in case the advisor has left the university or unable to perform the advising role, he/she may be replaced with another advisor. The advisor and the student together will develop a flexible comprehensive plan of study that will be implemented in each semester. The advising file will be updated each semester and will include copies of transcripts and GPA earned. The Advisor play a key role to guide student especially new student to plan their entire study cycle at the university..
        </p>
    </ul>
    <hr />
    <div class="text-center">
        @if (!Convert.ToBoolean(Session["UserAlreadyExist"]))
        {
            <a href="~/Applicant/ApplicantRegistration" class="btn btn-outline-primary btn-sm fw-bold">Apply Online</a>
        }
        else
        {
            <a href="#" onclick="UserAlreadyExist()" class="btn btn-outline-primary btn-sm fw-bold">Apply Online</a>
        }
    </div>
    
</div>

