
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section styles{
    <link href="~/Content/bootstrap-custom.css" rel="stylesheet" />
}

<div class="container p-2">
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Instructions</h2>
    <h3 class="h3">Dear Applicant, </h3>
    <ul class="h5 px-4 custom-list">
        <p class="h5 custom-list">
            Thank you for showing your interest in University of Azad Jammu &Aacute; Kashmir Admissions @DateTime.Today.Year.<br />
            Please carefully read the instructions given below, before you start filling out the application form. In case you face any problem, contact us at admissions@uajk.edu.pk or 005700009099.<br />
            Complete all the options by filling the appropriate information on the required format.  (UAJK-Admissions System will guide you steps by step)
        </p>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Steps</h2>
    <h3 class="h3">Step-I  Personal Information </h3>
    <ul class="h5 px-4 custom-list">
        <li>Use your official name which is written in the Matric Certificate.</li>
        <li>Use correct NICN (in case you don’t have NICN number then entered Form B no.). In case you don’t have Form B number then enter your father NICN number.</li>
        <li>Enter correct and active mobile no. as you will be communicated by this number.</li>
        <li>Enter correct and active Email Address as you will be communicated by this Email.</li>
        <li>Write all names, addresses and other information as per the official documents.</li>
    </ul>
    <hr />
    <h3 class="h3">Step-I  Previous Qualifications/Academics Record </h3>
    <ul class="h5 px-4 custom-list">
        <li>This is extremely important screen, as merit will be calculated based on the information provided here.</li>
        <li>Enter correct information about the certificate, degree, Marks, %ages and CGPA</li>
        <li>Correct information about university and boards.</li>
        <li>In case your transcript don’t have %age, calculate your %age and enter the %age.(<strong>Hint! </strong>(Obtained-Marks / Total-Marks)*100).</li>
        <li>Enter all academic records one by one.</li>
        <li>Once you enter all academic record, then click Save and go to Next screen.</li>
    </ul>
    <hr />
    <h3 class="h3">Step-III  Apply For Program </h3>
    <ul class="h5 px-4 custom-list">
        <li>In this section, you are required to choose program of your interest.</li>
        <li>After choosing level of degree – such as BS, MS/MPhil and PhD you will be required to choose name of the discipline such as Software Engineering, Computer Science, etc.</li>
        <li>You can make maximum three choices. Each choice will be considered one application. The admission processing fee will increase as per appliciation for programs.</li>
        <li>Select programs of your choice on the bases of your preference.</li>
        <li>After choosing program(s) of your choices Save and go to Next section.</li>
        <li>Once you enter all academic record, then click Save and go to Next screen.</li>
    </ul>
    <hr />
    <h3 class="h3">Step-IV  Fee Challan </h3>
    <ul class="h5 px-4 custom-list">
        <li>Download your Challan by clicking on Download button.</li>
        <li>After Making Transaction Submit the Challan Hard Copy to the concerend Department.</li>
        <li>Fee Challan Contain Fee of Main Form , Entry Test , Additional Form.</li>
        <li>Once you download the Challan Form Click on Next Button to Next Screen.</li>
    </ul>
    <hr />
    <h3 class="h3">Step-V  Final Submission </h3>
    <ul class="h5 px-4 custom-list">
        <li>Fill this section, that you have entered all the information correctly.</li>
        <li>Read all instructions given carefully.</li>
        <li>After reading all the instructions click on , SUBMIT FORM.</li>
        <li>Once you submit you will not be able to change any data.</li>
    </ul>
    <hr />
</div>
