@*@model SEAdd.Models.DomainModels.Applicant*@
@{
    ViewBag.Title = "ReviewApplicant";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="col-md-2">
            <img src="~/assets/images/UniversityLogo.png" width="50" height="50"/>
        </div>
        <div class="col-md-10">
            <h2><strong>THE UNIVERSITY OF AZAD JAMMU &Aacute; KASHMIR , MUZAFFARABAD</strong></h2>
        </div>
    </div>
</div>
