@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}

<div class="container bg-light p-3">
    <hgroup class="title">
        <h5>Email Confirmed</h5>
    </hgroup>
    <div>
        <p>
            Press login button to login.
        </p>
        <div>
            <a href="~/Account/Login" class="btn btn-primary">Login</a>
        </div>
    </div>
    <hr />
    <p>&copy; @DateTime.Now.Year - Online Admission Portal (DSE)</p>
</div>
