
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section styles{
    <style>
        body{
            background-color:rgb(136, 108, 192) !important;
        }
    </style>
 }

<div class="container bg-light mt-3 p-3">
    <hgroup class="title">
        <h5>Email Confirmation</h5>
    </hgroup>
    <div>
        <p>
            Please check your email to login.
        </p>
    </div>
    <hr />
    <p>&copy; @DateTime.Now.Year - Online Admission Portal (DSE)</p>
</div>


