@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}

<div class="container mt-3 bg-light p-3">
    <hgroup class="title">
        <h5>@ViewBag.Title.</h5>
    </hgroup>
    <div>
        <p>
            Please check your email to login.
        </p>
    </div>
    <hr />
    <p>&copy; @DateTime.Now.Year - Online Admission Portal (DSE)</p>
</div>
