
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
 }
@section styles{
    <style>
        body {
            background-color: rgb(136, 108, 192) !important;
        }
    </style>
}
<div class="container mt-3 bg-light p-3">
    <hgroup class="title">
        <h5>@ViewBag.Title.</h5>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
        <div>
            <a href="~/Home/Index" class="btn btn-primary">Back to Homepage</a>
        </div>
    </div>
    <hr />
    <p>&copy; @DateTime.Now.Year - Admission Portal Department of Software Engineering</p>
</div>




	
