
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
 }
@section styles{
    <link rel="stylesheet" href="~/Content/forgotPassword.css" />
}


<div class="card login-form p-2">
    <div class="card-body">
        <div class="text-center mb-4">
            <img src="~/assets/images/email.png" width="120" height="120" />
        </div>

        <div class="card-text text-center">
            <h5><strong>Email Confirmation</strong></h5>
            <div>
                <p>
                    We have sent an email to your registered email address to reset your password. After receiving the email follow the link provided to reset your password.
                </p>
                <a href="~/Account/Login" class="btn btn-primary px-5"><strong>LOGIN</strong></a>
            </div>
        </div>
    </div>
</div>

@*@section styles{
    <link href="~/assets/icons/font-awesome/all.min.css"  rel="stylesheet"/>
    <style>
        body {
            background-color: #d3d3d3 !important;
        }
        .btn{
            background-color:#6f42c1 !important;
            color:white;
        }
    </style>
}
<div class="container mt-3 bg-white p-3">
    <hgroup class="title">
        <h5>@ViewBag.Title.</h5>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
        <div>
            <a href="~/Account/Login" class="btn btn-primary"> BACK TO HOMEPAGE</a>
        </div>
    </div>
    <hr />
    <p>&copy; @DateTime.Now.Year - UAJK Admission Portal</p>
</div>*@




	
