@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}
@section styles{
    <link rel="stylesheet" href="~/Content/forgotPassword.css" />
}
<div class="card login-form p-2">
    <div class="card-body">
        <div class="text-center mb-4">
            <img src="~/assets/images/confirm.png" width="120" height="120" />
        </div>

        <div class="card-text text-center">
            <h5><strong>Congratulations!</strong></h5>
            <div>
                <p>
                    Your password has been reset. You can now login to the application with your new password.
                </p>
                <a href="~/Account/Login" class="btn btn-primary px-5"><strong>LOGIN</strong></a>
            </div>
        </div>
    </div>
</div>
@*@section styles{
    <style>
        body {
            background-color: rgb(136, 108, 192) !important;
        }
    </style>
}
<div class="container bg-light p-3 mt-5">
    <hgroup class="title">
        <h5>Password Reset Successfully</h5>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please click on login button to login.
        </p>
        <div>
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary p-1" })
        </div>
    </div>
    <hr />
    <p>&copy; @DateTime.Now.Year - UAJK Admission Portal</p>
</div>*@
