@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}

<div class="container bg-light p-3">
    <hgroup class="title">
        <h5>Password Reset</h5>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please click on login button to login.
        </p>
        <div>
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary p-1" })
        </div>
    </div>
    <hr />
    <p>&copy; @DateTime.Now.Year - Online Admission Portal (DSE)</p>
</div>
