* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	color:#253B80;
	font-family: 'Roboto';
}
.form-box {
	background-color: #f2f3f7;
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 440px;
}
#RegistrationLink{
    text-decoration:none;
    color:#253B80 ;
    font-weight:bold;
}
#RegistrationLink:hover{
    text-decoration:underline;
}
.form-box:before {
	background-color:#179bd7;
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	
}
.form-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 30px;
	text-align: center;
}
.form-box input[type="text"] {
	margin: 10px 0px;
	border: none;
	padding: 8px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	border: 1px solid #ced4da;
	font-family: poppins;
}
.form-box input[type="password"] {
	margin: 10px 0px;
	border: none;
	padding: 8px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	border: 1px solid #ced4da;
	font-family: poppins;
}

.form-box label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.form-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #ddd;
}

.form-box button {
	background-color: #253b80;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
	font-weight: bold;
}
.form-box button:hover{
	background-color: #179bd7;
}

