
<div class='row text-center'>
    <div class='col-md-8 mx-auto'>
      <img src='~/assets/images/ended.png' width='300' height='300' class='mb-2' />
      <h2 class='text-danger'><strong>Test Ended!</strong></h2> 
      <h3>Entry test has been ended.</h3>
      <a href='~/Dashboard/UserDashboard' class='btn btn-primary px-4 py-2'>
        <strong><i class='fa fa-angle-double-left'></i> Back to Dashboard</strong>
      </a>
    </div>
 </div>
