<script>
    $("#RenderTestEndPartialView").html("<div class='row text-center'><div class='col-md-8 mx-auto'><img src='/assets/images/testSubmitted.png' width='300' height='300' class='mb-2'/><h2 class='text-primary'><strong>CONGRULATIONS!</strong></h2><h3>Your entry test has been submitted successfully.</h3><a href='/EntryTest/ViewEntryTestResult' class='btn btn-primary px-4 py-2'><strong>View Result</strong></a></div></div>");
</script>
