@model List<SEAdd.Models.DomainModels.Applicant>
@{
    ViewBag.Title = "New Applicants";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Applicants</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
    </ol>
</div>
@Html.Partial("_ViewNewApplicants", Model)

@section Scripts{
    <script>
        function AlreadyApproved() {
            swal({
                title: "Approved!",
                text: "This application is already approved.",
                icon: "success",
                button: "OK",
            });
        }
        function ReviewApplication() {
            swal({
                title: "Sorry!",
                text: "Kindly review the application first.",
                icon: "warning",
                button: "OK",
            });
        }
        $('#example5').DataTable(
           {
               searching: true,
               paging: true,
               select: true,
               info: true,
               lengthChange: true,
               language: {
                   paginate: {
                       next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                       previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                   }
               }
           });
    </script>
}
