
@{
    ViewBag.Title = "Eligibility Criteria";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section styles{
    <link href="~/Content/bootstrap-custom.css" rel="stylesheet" />
}
<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Admissions</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
    </ol>
</div>
<div class="container p-2">
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Eligibility Criteria</h2>
    <ul class="h5 px-4 custom-list">
        <li>General rules of PEC are followed to determine the eligibility of the candidate.</li>
        <li>The candidates must have at least 60% marks in Intermediate (HSSC) examination with Mathematics or equivalent qualification with Mathematics certified by IBCC or DAE in Computer.</li>
        <li>No third division in academic career.</li>
        <li>Entry test is mandatory for admission in BSSE.</li>
        <li>A candidate has to qualify the entry test to be eligible for admission.</li>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Online Submission Process</h2>
    <ul class="h5 px-4 custom-list">
        <li>Basic Registration Process</li>
        <li>Provide Personal Information</li>
        <li>Provide Educational Information</li>
        <li>Apply For Program(s) You Are Interested In</li>
        <li>Generate/Print Challan Forms of Your Application(s)</li>
        <li>Pay Fee Against Those Challans</li>
        <li>Provide Fee deposit Information</li>
        <li>Print Application</li>
    </ul>
    <p class="h5 px-4 custom-list fw-bold text-primary">Attach all required documents including the challan form with each copy of the application form and send them to the Directorate of Students’ Affairs.</p>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Documents Required/ Checklist</h2>
    <ul class="h5 px-4 custom-list">
        <li>Attested copies of all educational certificates and degrees.</li>
        <li>Character certificate issued by the College/ Institute last attended.</li>
        <li>Migration certificate in case of Masters/ Graduation from institutions other than AJ&K University.</li>
        <li>NOC/ Migration certificate in case of HSSC other than BISE Mirpur AJ&K.</li>
        <li>A copy of the Domicile & State subject certificate.</li>
        <li>A copy of National Identity Card or Form-B.</li>
        <li>Four recent passport size photographs</li>
        <li>Copy of Guardian’s CNIC</li>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Things To Know First</h2>
    <ul class="h5 px-4 custom-list">
        <li>Maximum age limit for applying in BS programs is 23</li>
        <li>It is mandatory to pass the entry test. Passing marks are 50%</li>
        <li>No Separate Call letter for entry test/Interview will be issued, for admission; the merit list will be display on the notices board of DSA, Relevant department, and University website</li>
        <li>Nominees of quota seats should apply for admission within the given timeline and must appear in the test /interview. Their nomination should also be submitted within a stipulated time</li>
        <li>For information regarding quota/ reserved seats please visit our website <strong><a href="https://ajku.edu.pk/" class="text-primary">ajku.edu.pk</a></strong></li>
    </ul>
    <hr />
    <h2 class="h3 text-center bg-primary text-white rounded-1 p-1">Where to submit necessary documents?</h2>
    <ul class="custom-list px-4">
        <li class="h5">Students can collect and submit their application forms from the admission officer’s office established in Muzaffarabad Deputy Director of Students’ Affairs .</li>
        <li class="h5 fw-bold text-primary">
            Director Student Affair(DSA) Office
            University of Azad Jammu & Kashmir
            Chellah Campus,Muzaffarabad(AJK)
        </li>
    </ul>
    <div class="text-center">
        @if (!Convert.ToBoolean(Session["UserAlreadyExist"]))
        {
            if (!Convert.ToBoolean(Session["AdmissionDateExpire"]))
            {
                <a href="~/Student/StudentRegistration" class="btn btn-outline-primary btn-sm fw-bold">Apply Online</a>
            }
            else
            {
                <a href="#" onclick="AdmissionExpire()" class="btn btn-outline-primary btn-sm fw-bold">Apply Online</a>
            }
        }
        else
        {
            <a href="#" onclick="UserAlreadyExist()" class="btn btn-outline-primary btn-sm fw-bold" >Apply Online</a>
        }
    </div>
    <div>
        <hr />
    </div>
</div>
