@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section styles{
    <link href="~/Content/welcome.css" rel="stylesheet" />
}
    <div class="background">
        <div class="transbox">
            <h1>Welcome</h1>
            <p class="text-left">The Department of Software Engineering (DSE) is committed to high quality education and promoting an innovative culture in the field of Software Engineering. DSE has highly qualified and experienced faculty member who share the knowledge of Software standards and practices with students. Students are always encouraged for innovation and new ideas.</p>
            <div class="text-center"><a href="#" class="btn btn-primary" id="ApplyNowBtn">Apply Now<i class="" ></i></a></div>
        </div>
    </div>

